For the user's input, please select highly relevant sections to the case.

User input: {{ input_text }}

Candidate legal sections:
{{ toc }}

Please select highly relevant sections to the user's input, think first, and then summary using a list of section numbers. Notice that only select sections.
List Format: ["Section 50A", "Section 59", ...]
